@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;1,8..144,200;1,8..144,300;1,8..144,400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto Serif", serif;
}

/* HEADER */

header {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    width: 23vw;
   
}

.icon-star {
    width: 27px;
    height: 27px;
    margin-right: 6px;
    

}

.image-logo {
    width: 123px;
}

.menu-icons {
    width: 23vw;
}

.icon-menu {
    width: 23px;
    margin: 14px;
}

/* MAIN */

.banner {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fundo-banner.png);
    background-color: #adde87;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.banner img {
    width: 48%;
}

.oferta-content {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.oferta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

figure {
    position: relative;

    border-radius: 10px;
    z-index: 2;
}

.oferta-content p  {
     font-size: 20px;
}

.oferta-content h2  {
    font-size: 27px;
}

.imgcard {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

figure:hover .imgcard {
    opacity: 0.5;
    z-index: 1;
}

figure:hover {
    background-color: #5ca720;
    z-index: 3;
}

.card {
    width: 280px;
    height: 420px;
}

.info-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}

.info-produto p {
   font-size: 18px;
}

.preco {
    font-size: 23px;
    color: #5ca720;
}

.boxcard {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.produtos {
    padding: 40px 0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

button {
    width: 120px;
    padding: 8px 0;
    background-color: #5ca720;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #512200;
    transition: 1s;
}

/* FOOTER */

footer {
    background-color: #f9f9f9;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 200px;
    height: 43px;
    right: 100px;
    border: none;
}

.rodape {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
}

.lista-info {
    height: 17vh;
    display: flex;
    color: #161616;
    font-weight: 600;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-custom {
    display: flex;
    margin-top: 12px;
}

.newsletter {
    height: 20vh;
    width: 27vw;
    padding-top: 30px;
    margin-left: 20px;
}

.news-label {
    font-size: 30px;
}

.news-imput {
    height: 53px;
    padding: 10px;
    width: 340px;
    border: 0.5px solid #a5a1a1;
}

.button-rodape {
    width: 147px;
    height: 53px;
    border: none;
    font-weight: 800;
    font-size: 19px;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
}

input::placeholder {
    font-size: 20px;
    color: #a8a4a4;
    font-weight: 600;
}

.icon-footer {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    border-top: solid 1px rgb(184, 184, 184);
}

.redes-sociais {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10vw;
}

.redes-sociais img {
    margin-right: 25px;
}

.bandeiras {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 13vw;
}

.bandeiras img {
    margin-right: 40px;
}
